<%= form_with(model: comment, local: true) do |form| %>


  <div class="field p-5 bg-light form-group">
    <%= form.label :comment %>
    <%= form.text_area :content, class:"form-control row-10 col-30" %>
 
  <br>

  <%= hidden_field_tag 'comment[article_id]', current_user.id %>


  <div class="actions form-group">
    <%= form.submit :class=>"btn btn-primary"%>
  </div>
  <br>
  </div>
<% end %>
